.form-wrapper {
  max-width: 450px;
  margin: 30px auto;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  font-family: Arial, Helvetica, sans-serif;
}
.form-wrapper h4 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18pt;
  font-weight: bold;
  color: #906aa5;
}
form {
  display: flex;
  flex-direction: column;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form-group label {
  font-size: 12pt;
  font-weight: bold;
  color:144, 106, 165;
  margin-bottom: 6px;
}
.form-group input,
.form-group select,
.form-group textarea {
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
textarea {
  resize: vertical;
}
button {
  background:#906aa5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14pt;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
.error {
  font-size: 13pt;
  color: white;
  margin-top: 4px;
  font-style: italic;
}