body {
  background-color: rgb(30,30,30);
  margin: 0;              
}

.page {
  margin: 0 auto;
  padding: 20px;          
}

.collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;              
  justify-content: center; 
}